name: Continuous Integration
on: [push, pull_request]

jobs:
  Build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Get submodule status
        run: |
          git submodule status | awk '{print $1 " " $2}' > submodule-status.txt
          cat ./submodule-status.txt
      - name: Cache library form submodule
        id: cache-library-from-submodule
        uses: actions/cache@v3
        with:
          path: |
            ./LiquidCrystal_I2C.h
            ./LiquidCrystal_I2C.cpp
          key: cache-library-from-submodule-${{ hashFiles('./submodule-status.txt') }}
      - name: Recursive git submodules
        if: steps.cache-library-from-submodule.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Get source library from submodule
        if: steps.cache-library-from-submodule.outputs.cache-hit != 'true'
        run: |
            cp ./LiquidCrystal_I2C/LiquidCrystal_I2C.h .
            cp ./LiquidCrystal_I2C/LiquidCrystal_I2C.cpp .
      - name: Cache arduino-cli
        id: cache-arduino-cli
        uses: actions/cache@v3
        with:
          path: |
            ./arduino/arduino-cli
          key: arduino-cli_0.29.0_Linux_64bit
      - name: Cache arduino-cli setup
        id: cache-arduino-cli-setup
        uses: actions/cache@v3
        with:
          path: |
            ./arduino/**
            !./arduino/arduino-cli
          key: cache-arduino-cli
      - name: Setup arduino-cli_0.29.0_Linux_64bit
        if: steps.cache-arduino-cli.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/arduino/arduino-cli/releases/download/0.29.0/arduino-cli_0.29.0_Linux_64bit.tar.gz -O arduino-cli_0.29.0_Linux_64bit.tar.gz
          mkdir arduino && cd ./arduino
          tar -xf ../arduino-cli_0.29.0_Linux_64bit.tar.gz
          cd .. && rm ./arduino-cli_0.29.0_Linux_64bit.tar.gz
      - name: Setup arduino core
        if: steps.cache-arduino-cli-setup.outputs.cache-hit != 'true'
        run: |
          ./arduino/arduino-cli --verbose --config-file arduino-cli.yaml core update-index
          ./arduino/arduino-cli --verbose --config-file arduino-cli.yaml core install esp8266:esp8266@3.0.2
      - name: Compile with cache build
        id: compile-with-cache-build
        run: |
          rm -rf ./tmp
          ./arduino/arduino-cli --verbose --config-file arduino-cli.yaml \
          compile --fqbn esp8266:esp8266:nodemcuv2 \
          --build-path ./tmp \
          --build-cache-path ./arduino/cache-build
        continue-on-error: true
      - name: Compile without cache build
        id: compile-without-cache-build
        if: steps.compile-with-cache-build.outcome != 'success'
        run:
          rm -rf ./tmp ./arduino/cache-build
          ./arduino/arduino-cli --verbose --config-file arduino-cli.yaml \
          compile --fqbn esp8266:esp8266:nodemcuv2 \
          --build-path ./tmp \
          --build-cache-path ./arduino/cache-build
